:root {
  --color-primary-red: #DB4444;
  --color-primary-green: #00FF66;
  --color-secondary-light-red: #E07575;
  --color-secondary-light-blue: #A0BCE0;
  --color-neutral-white: #FAFAFA;
  --color-white: #ffffff;
  --color-neutral-grey: #7D8184;
  --color-grey: #c6cacd;
  --color-neutral-black: #0D0D0D;
}