@import url("./colors.css");
@import url("./fonts.css");

.test {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #3f3f3f;
}

.logo-img {
  height: 55px;
  width: auto;
}

.search-bar {
  display: flex;
  flex: 1;
  height: 35px;
  margin: 0 20px;
}

input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 2px 2px 5px rgba(192, 192, 192, 0.3);
}

button {
  padding: 4px;
  padding-left: 8px;
  padding-top: 8px;
  align-items: center;
  background-color: #dfdfdf;
  border: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 2px 5px rgba(192, 192, 192, 0.3);
  cursor: pointer;
  color:  #3f3f3f;
}

.logo-imgnav {
  height: 20px;
  width: auto;
  margin-right: 4px;
}

.header-links {
  display: inline-flex;
  color: #3f3f3f;
  align-items: center;
  margin-left: 15px;
  text-decoration: none;
}


.subheader {
  background-color: #ececec;
  padding: 10px 20px;
}

.nav-menu {
  list-style-type: none;
  display: flex;
}

.navmenu-li {
  position: relative;
  margin-right: 20px;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #ececec;
  list-style-type: none;
  padding: 10px;
  margin-top: 5px;
}

.nav-menu li:hover .dropdown { display: block;}

.dropdown-li {
  margin-bottom: 5px;
}

.footer {
  background-color: #ffffff;
  color: #383838;
  padding: 20px;
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-top i {
  margin-right: 10px;
  font-size: 24px;
}

.footer-bottom {
  border-top: 1px solid #444;
  padding-top: 10px;
}

.sitemap {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.sitemap-li {
  margin: 0 15px;
}

.logo-imgfooter {
  height: 50px;
  border-radius: 20%;
  width: auto;
}


@media screen and (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  .search-bar {
      margin: 10px 0;
  }

  .subheader {
      text-align: center;
  }

  .nav-menu {
      justify-content: center;
  }
  .footer-top {
    flex-direction: column;
}

.footer-left,
.footer-center,
.footer-right {
    margin-bottom: 10px;
}

.sitemap {
    flex-direction: column;
}

.sitemap-li {
    margin-bottom: 10px;
}

}
