@import url("./colors.css");
@import url("./fonts.css");

.test {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #3f3f3f;
}

/** HEADER STYLES **/

.header-logo-img {
  height: 55px;
  width: auto;
}

.header-search-bar {
  display: flex;
  flex: 1;
  height: 35px;
  margin: 0 20px;
}

.header-search-input {
  margin-left: 30%;
  width: 50%;
  padding: 8px;
  border: none;
  background-color: #dfdfdf;
}

.header-search-button {
  padding: 4px;
  padding-left: 8px;
  padding-top: 8px;
  align-items: center;
  background-color: #dfdfdf;
  border: none;
  cursor: pointer;
  color: #3f3f3f;
}

.header-logo-imgnav {
  height: 20px;
  width: auto;
  margin-right: 4px;
}

.header-header-links {
  display: inline-flex;
  color: #3f3f3f;
  align-items: center;
  margin-left: 15px;
  text-decoration: none;
}

.header-subheader {
  background-color: #ffffff;
  padding: 10px 20px;
}

.header-nav-menu {
  list-style-type: none;
  display: flex;
}

.header-navmenu-li {
  position: relative;
  margin-right: 20px;
}

.header-dropdown {
  display: none;
  position: absolute;
  background-color: #ececec;
  list-style-type: none;
  padding: 10px;
  margin-top: 5px;
}

.header-nav-menu li:hover .header-dropdown {
  display: block;
}

.header-dropdown-li {
  margin-bottom: 5px;
}

.header-footer {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

.header-footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-footer-top i {
  margin-right: 10px;
  font-size: 24px;
}

.header-footer-bottom {
  border-top: 1px solid #444;
  padding-top: 10px;
}

.header-logo-imgfooter {
  height: 40px;
  border-radius: 20%;
  width: auto;
}

.header-sitemap-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background-color: #000;
  padding: 40px;
  color: #fff;
}

.header-sitemap-section {
  text-align: left;
  padding-left: 100px;
}

.header-sitemap-section h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #fff;
}

.header-sitemap-section p,
.header-sitemap-section ul {
  margin: 5px 0;
}

.header-sitemap-section ul {
  list-style: none;
  padding: 0;
}

.header-sitemap-section ul li {
  margin-bottom: 5px;
}

.header-sitemap-section ul li a,
.header-sitemap-section a {
  color: #ccc;
  text-decoration: none;
}

.header-sitemap-section ul li a:hover {
  color: #fff;
}

.header-sitemap-section form {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajusta si quieres espacio entre el input y el botón */
}

.header-sitemap-section input[type="email"] {
  flex-grow: 1;
  padding: 5px;
  border-color: #ffffff;
  max-width: 200px;
  align-self: center;
  background-color: #000000;
  border-width: 1px;
  flex-grow: 1;
  margin-left: 0px;
}

.header-sitemap-section button {
  padding: 5px 10px;
  max-width: 200px;
  align-self: center;
  border-width: 1px;
  background-color: #000000;
  border-color: #ffffff;
  color: #fff;
  cursor: pointer;
}

.header-sitemap-section a {
  text-decoration: none;
  color: inherit;
}

.header-div-sitemap {
  display: flex;
}
.header-sitemap-section a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  .header-search-bar {
    padding-right: 13%;
    margin-bottom: 10px;
  }

  .header-subheader {
    text-align: center;
  }

  .header-nav-menu {
    justify-content: center;
  }

  .header-footer-top {
    flex-direction: column;
  }

  .header-footer-left,
  .header-footer-center,
  .header-footer-right {
    margin-bottom: 10px;
  }

  .header-sitemap-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header-sitemap-section {
    margin-bottom: 20px;
  }

  .header-sitemap-section form {
    flex-direction: column;
  }

  .header-sitemap-section input[type="email"] {
    margin-bottom: 10px;
    margin-right: 26%;
  }

  .header-sitemap-section button {
    margin-right: 26%;
    width: 68%;
  }
}
